<<<<<<< HEAD
@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Quicksand');

$cheesy: #ebe1bf;

$primary: darken($cheesy, 30%);
$family-sans-serif: "Quicksand", sans-serif;
$navbar-background-color: $cheesy;
$navbar-item-hover-background-color: darken($cheesy, 10%);

$column-gap: 0.25rem;

$control-radius: 0;
$control-radius-small: 0;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";

=======
>>>>>>> 3f404121a66b0228e6087c9c8b5d5ffb4349436b
.card-image {
  .image {
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
