*{
  box-sizing:border-box;
}

body{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin:0 auto;
}
input, select{
  width:20%;
  margin: 10px 0;
}

.flags{
  box-sizing:content-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.flag{
  padding:0 5px;
  text-align: center;
  border: 1px solid grey;
  width:22%;
  margin-top:20px;
  border-radius: 5px;
}
img{
  width:100%;
  box-shadow: 0 0 0px 1px grey;
}
