    <nav class="navbar navbar-inverse">
        <div class="container">
            <a class="navbar-brand" href="http://localhost:3000/">America del Sud</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:3000/cheatsheet">CheatSheet</a></li>
                <li><a href="http://localhost:3000/albums">Albums</a></li>
                <li><a href="http://localhost:3000/photos">Photos</a></li>
                <li><a href="http://localhost:3000/about">About</a></li>
                <li><a href="http://localhost:3000/GA">G.A.</a></li>
                <li><img src=" <%= avatarUrl %>"></li>
                <li><%= name %></li>
                <li><a href="/logout">Disconnect</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="scripts/navigation.js"></script>
