* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  overflow: auto;
  margin: auto;
}

main {
  overflow: auto;
}

main section {
  float: left;
  padding: 15px;
  width: calc(100% / 3);
}

header, footer {
  background-color: #eee;
  padding: 15px;
}

header {
  overflow: auto;
}

header h1 {
  margin: 0;
  float: left;
}

header nav {
  padding: 10px 0;
  float: right;
}

header nav a {
  padding: 8px;
}

header nav a:hover {
  background-color: #ddd;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 900px) {
  main section {
    width: 50%;
  }
  main section:nth-child(3) {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  main section {
    float: none;
    width: 100%;
  }
}
